@use "./information" as *;

.load-progress-bar {
	background: var(--green);
}

html,
body {
	font-weight: 400;
	overflow-x: hidden;
	@include mesh;
}

img {
	height: auto;
	width: 100%;
}
.article-item {
	&--row {
		.article-item {
			&__link {
				flex-direction: row;
				align-items: center;
				padding: 1.5rem 0;
				height: 100%;
				position: relative;
				&::before {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 1px;
					background: var(--gray);
				}
				&::after {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 1px;
					scale: 0 1;
					transform-origin: left top;
					transition: scale 0.3s;
					background: var(--red);
				}
				@include hover {
					&::after {
						scale: 1 1;
					}
				}
			}
			&__title {
				margin: 1rem 0;
				@include break() {
					margin: 0.5rem 0;
				}
			}
		}
	}
	&__img {
		max-width: 16rem;
		overflow: hidden;
		img {
			transition: scale 0.3s;
		}
		&--full {
			max-width: 100%;
		}
	}
	&__content {
	}
	&__link {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		@include hover {
			.article-item {
				&__img {
					img {
						scale: 1.05;
					}
				}
			}
		}
	}
	&__title {
		margin: 1.5rem 0 1rem;
		@include font(16, 22, 0);
		font-weight: bold;
		@include break() {
			font-size: 1.4rem;
		}
	}
	&__text {
		@include font(14, 21, 0);
		overflow: hidden;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		@include break() {
			font-size: 1.2rem;
		}
	}
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: row-reverse;
		gap: 1.5rem;
	}
	&__date {
		@include font(12, 12, 20);
		position: relative;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		border-radius: 0.5rem;
		padding: 0.4rem 0.8rem;
		background: var(--bg-color);
		&-icon {
			width: 1.4rem;
		}
	}
	&__category {
		border-radius: 0.5rem;
		padding: 0.4rem 0.8rem;
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--white);
		background: var(--red);
		@include font(12, 12, 20);
	}
}

.sub-mv {
	position: relative;
	&__inner {
		@include wrapper;
	}
	&__title {
		font-family: var(--mont);
		margin-bottom: 1.5rem;
		display: flex;
		align-items: flex-end;
		gap: 1rem;
		position: relative;
		padding-left: 2rem;
		@include break() {
			margin-bottom: 1rem;
		}
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			translate: 0 -50%;
			height: 100%;
			width: 0.4rem;
			background: var(--red);
		}
		&-ja {
			@include font(32, 32, 60);
			@include break() {
				font-size: 2.2rem;
			}
		}
		&-en {
			@include font(20, 20, 60);
			font-weight: 300;
			color: var(--red);
			@include break() {
				font-size: 1.6rem;
			}
		}
	}
	&__img {
		position: relative;
		overflow: hidden;
		height: 40rem;
		width: 100%;
		@include break() {
			height: 20rem;
		}
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
		&-sub {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			filter: blur(0.8rem);
			@include break(1200) {
				display: none;
			}
		}
		&-main {
			position: absolute;
			top: 50%;
			left: 50%;
			translate: -50% -50%;
			max-width: 124rem;
			width: 100%;
			margin: 0 auto;
		}
	}
}
.archive {
	&__list {
		min-height: 30rem;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 3rem;
		margin-bottom: 3rem;
		&--column-2 {
			grid-template-columns: repeat(2, 1fr);
		}
		@include break(1024) {
			grid-template-columns: repeat(2, 1fr);
			gap: 2rem;
			@include break(600) {
				grid-template-columns: repeat(1, 1fr);
			}
		}
	}

	&__found {
		width: fit-content;
		margin: 0 auto 3rem;
		font-weight: 500;
		@include font(16, 16, 30);
		@include break() {
			font-size: 1.6rem;
			margin-bottom: 2rem;
		}
		&-big {
			font-size: 2.8rem;
			@include break() {
				font-size: 2.4rem;
			}
		}
	}
}

.spot-item {
	&__link {
		@include hover {
			.spot-item {
				&__card {
					rotate: -3deg;
				}
				&__img {
					img {
						scale: 1.05;
					}
				}
			}
		}
	}
	&__img {
		position: relative;
		overflow: hidden;
		border-radius: 1rem;
		overflow: hidden;
		img {
			transition: scale 0.3s;
		}
	}
	&__card {
		position: relative;
		padding: 1.5rem;
		border-radius: 1rem;
		transform-origin: right top;
		transition: rotate 0.3s;
		@include mesh;
		border: solid 1px var(--black);
		width: 80%;
		margin-top: -3rem;
		margin-left: auto;
		margin-right: 1.5rem;

		&::after {
			content: "";
			position: absolute;
			height: auto;
			width: 1.2rem;
			top: 1rem;
			right: 1rem;
			aspect-ratio: 1;
			background: var(--black);
			border-radius: 9999px;
		}
	}
	&__title {
		@include font(16, 22, 0);
		font-weight: bold;
		margin-bottom: 1rem;
		@include break() {
			font-size: 1.4rem;
		}
	}
	&__text {
		@include font(14, 21, 0);
		overflow: hidden;
		display: -webkit-box;
		word-break: break-all;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		@include break() {
			font-size: 1.3rem;
		}
	}
	&__wrap {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
		align-items: center;
		margin-bottom: 1rem;
	}
	&__category {
		color: var(--white);
		padding: 0.2rem 0.5rem;
		border-right: none;
		@include font(12, 12, 0);
		&--seimo {
			background: var(--green);
			border: solid 1px var(--green);
		}
		&--tomo {
			background: var(--red);
			border: solid 1px var(--red);
		}
		&--tyumo {
			background: var(--yellow);
			border: solid 1px var(--yellow);
		}
		&--hokumo {
			background: var(--blue);
			border: solid 1px var(--blue);
		}
	}
	&__municipalities {
		color: var(--black);
		border: solid 1px var(--black);
		border-left: none;
		padding: 0.2rem 0.5rem;
		@include font(12, 12, 0);
	}
}

.sub-layout {
	@include wrapper;
	display: flex;
	justify-content: space-between;
	margin-top: 3rem;
	margin-bottom: 5rem;
	gap: 4rem;
	@include break(1024) {
		flex-direction: column;
	}
	&--archive {
		margin-top: 0;
	}
	&__left {
		height: fit-content;
		width: 100%;
		max-width: calc(100% - 30rem - 4rem);
		background: var(--white);
		border: solid 1px var(--gray);
		padding: 3rem;
		border-radius: 2rem;
		@include break(1024) {
			max-width: 100%;
			@include break() {
				padding: 2rem 1.5rem;
			}
		}
		&--full {
			max-width: 100%;
		}
	}
	&__right {
	}
}
