@charset 'utf-8';
@use "sass:math";
@use "sass:meta";

$imgs: null !default;

@function rem($fz) {
	$rem: math.div($fz, 10);
	@return #{$rem}rem;
}

@function lh($fz, $lf) {
	$value: math.div($lf, $fz);
	@return $value;
}
@function ls($tracking) {
	$value: math.div($tracking, 1000);
	@return #{$value}em;
}
@function pct($small, $big, $unit: "%") {
	$value: math.div($small, $big);
	$value: $value * 100;
	@if (meta.type-of($unit) != "number") {
		@return #{$value}#{$unit};
	} @else {
		@return max(rem($unit), #{$value}vw);
	}
}

@mixin leadingTrim($lh) {
	&::before,
	&::after {
		content: "";
		display: block flow;
		inline-size: 0;
		block-size: 1px;
	}
	&::before {
		margin-block-end: calc((1 - #{$lh}) * 0.5em);
	}
	&::after {
		margin-block-start: calc((1 - #{$lh}) * 0.5em);
	}
}

@mixin font($fz, $lf, $ls, $unit: "px", $half: "child") {
	line-height: lh($fz, $lf);
	letter-spacing: ls($ls);
	@if $half == "child" {
		@include leadingTrim(lh($fz, $lf));
	} @else {
		margin-block: calc((1em - 1lh) / 2);
	}
	@if $unit == "px" {
		$fz: #{rem($fz)};
	} @else if (meta.type-of($unit) != "number") {
		$fz: max(rem($fz), pct($fz, 1500, $unit));
	} @else {
		$fz: max(rem($unit), pct($fz, 1500, "vw"));
	}
	font-size: $fz;
}

@mixin break($breakpoint: 768) {
	@media screen and (max-width: #{$breakpoint}px) {
		@content;
	}
}

@mixin hover {
	@media (hover) {
		&:hover {
			@content;
		}
	}
}

:root {
	--blue: #269191;
	--red: #912626;
	--green: #2b5f3d;
	--yellow: #919026;
	--black: #333333;
	--white: #ffffff;
	--gray: #ccc;
	--bg-color: #eae7e2;

	--side-space: 4vw;

	--mont: "Montserrat", sans-serif;
	--noto: "Noto Sans JP", "Helvetica Neue", "Segoe UI", "Hiragino Kaku Gothic ProN", "Hiragino Sans", meiryo, sans-serif;
}

@mixin mesh() {
	background-image: linear-gradient(rgba(210, 210, 210, 0.4) 1px, transparent 1px), linear-gradient(to right, rgba(210, 210, 210, 0.4) 1px, transparent 1px);
	background-size: 1rem 1rem;
	background-color: #fff;
	// @include break() {
	// 	background-size: 12px 12px;
	// }
}

@mixin wrapper($maxWidth: 1240) {
	max-width: #{$maxWidth}px;
	width: calc(100% - (var(--side-space) * 2));
	margin: 0 auto;
}

.mont {
	font-family: var(--poppin);
}

.noto {
	font-family: var(--noto);
}

.pc-b {
	display: block !important;
	@include break() {
		display: none !important;
	}
}
.sp-b {
	display: none !important;
	@include break() {
		display: block !important;
	}
}
