@keyframes fadeIn {
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fadeOut {
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes infinity-scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes infinity-scroll-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes loading {
  0% {
    scale: 0;
    opacity: 0;
  }
  50% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 0;
    opacity: 0;
  }
}
