@use "../information" as *;

.breadcrumb {
	width: calc(100% - (var(--side-space) * 2));
	margin: calc(var(--header-height) + (var(--header-top) * 2)) auto 4rem;
	@include break() {
		margin-bottom: 3rem;
	}
	&__list {
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
		row-gap: 1rem;
	}
	&__link {
		position: relative;
		@include hover {
			&::after {
				scale: 0 1;
			}
		}
		&::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 1px;
			background: var(--black);
			transition: scale 0.3s;
			scale: 1 1;
			transform-origin: right top;
		}
	}
	&__item {
		@include font(14, 14, 0);
		@include break() {
			font-size: 1.2rem;
		}
		&:not(:last-child) {
			padding-right: 2rem;
			margin-right: 2rem;
			position: relative;
			@include break() {
				padding-right: 1.5rem;
				margin-right: 1.5rem;
			}
			&::after {
				content: "";
				position: absolute;
				right: 0;
				top: 50%;
				translate: 50% -50%;
				height: auto;
				width: 0.8rem;
				aspect-ratio: 1 / 1;
				background: var(--black);
				clip-path: polygon(0 0, 0% 100%, 100% 50%);
			}
		}
	}
}
