@forward "./animation";
@forward "./header";
@forward "./footer";
@forward "./hamburger";
@forward "./sns";
@forward "./btn";
@forward "./breadcrumb";
@forward "./author";
@forward "./search-form";
@forward "./sidebar";
@forward "./pagination";
@forward "./menu";
@forward "./accessibility";
@forward "./share";

@forward "./blocks";
@forward "./editor";
