@use "../information" as *;

.share {
	position: fixed;
	top: 50%;
	translate: 0 -50%;
	left: 1rem;
	z-index: 150;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	gap: 1rem;
	@include break() {
		margin-top: 3rem;
		flex-direction: column;
		position: static;
		translate: 0 0;
	}
	&--mt-0 {
		@include break() {
			margin-top: 0;
		}
	}
	&__title {
		display: none;
		@include break() {
			display: block;
			@include font(12, 12, 120);
			-ms-writing-mode: horizontal-tb;
			writing-mode: horizontal-tb;
		}
	}
	&__buttons {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		@include break() {
			flex-direction: row;
		}
	}
	&__button {
	}
	&__link {
		height: 4rem;
		width: 4rem;
		background: #000;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: opacity 0.3s;
		@include break(1240) {
			height: 3.6rem;
			width: 3.6rem;
		}
		@include hover {
			opacity: 0.7;
		}
		&--x {
			background: #0f1419;
			img {
				width: 2rem;
				@include break(1240) {
					width: 1.8rem;
				}
			}
		}
		&--facebook {
			background: #3b5998;
			img {
				width: 1.5rem;
				@include break(1240) {
					width: 1.2rem;
				}
			}
		}
		&--line {
			background: #06c755;
			img {
				width: 2.6rem;
				@include break(1240) {
					width: 2.2rem;
				}
			}
		}
		&--copy {
			border: solid 1px var(--gray);
			background: var(--bg-color);
			img {
				width: 2.4rem;
				@include break(1240) {
					width: 2rem;
				}
			}
		}
	}
}
