@use "../common" as *;

[data-page="page-contact"] {
	.contact-form {
		&__buttons {
			margin-top: 3rem;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 1.5rem;
		}
		&__check {
			margin-top: 2rem;
			label {
				width: fit-content;
				margin: 0 auto;
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 1rem;
				@include font(16, 16, 0, "px", "me");
				input {
					display: block;
					height: 1.6rem;
					width: 1.6rem;
				}
			}
		}
	}
	.form-item {
		display: flex;
		width: 100%;
		padding: 2rem 0;
		border-top: solid 1px var(--gray);
		@include break() {
			flex-direction: column;
			gap: 0.8rem;
		}
		&:last-child {
			border-bottom: solid 1px var(--gray);
		}

		&__v {
			display: none;
			color: var(--red);
			@include font(14, 14, 20);
			margin-top: 0.5rem;
			&.is-active {
				display: block;
			}
		}

		&__text {
			margin-top: 1.2rem;
			margin-bottom: 0;
			@include font(16, 16, 20, "px", "me");
			@include break() {
				margin-top: 0;
			}
			&--mt-0 {
				margin-top: 0;
			}
		}
		&__left {
			max-width: 20rem;
			width: 100%;
			font-weight: 400;
			@include break() {
				max-width: 100%;
			}
		}
		&__content {
			max-width: calc(100% - 20rem);
			width: 100%;
			@include break() {
				max-width: 100%;
			}
		}
		&__require {
			display: inline-block;
			color: var(--white);
			background: var(--red);
			@include font(12, 12, 20);
			padding: 0.2rem 0.5rem;
			margin-left: 0.5rem;
			border-radius: 0.4rem;
		}
	}

	textarea {
		max-width: 100%;
		min-width: 100%;
		min-height: 15rem;
	}
	label {
		display: block;
	}
	input,
	textarea {
		padding: 0.8rem 1rem;
		display: block;
		border: solid 1px var(--gray);
		width: 100%;
		@include font(16, 24, 20, "px", "me");
	}
	input[type="submit"],
	input[type="button"],
	button[type="button"] {
		width: fit-content;
		padding: 1.5rem 1.5rem 1.5rem 2.5rem;
		margin: 0;
		border: solid 1px var(--black);
		@include font(16, 16, 20, "px", "me");
		cursor: not-allowed;
		&.is-active {
			cursor: pointer;
		}
	}
}
